*{
    @font-face {
        font-family: 'Circular Spotify', Helvetica, sans-serif;
        src: url('../font/CircularSpotifyText-Medium.otf');
    }
    color: white;
    background-color: #101010;
}
nav{
    font-family: 'Circular Spotify', Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem 0.25rem;
    height: 10%;
}
nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin-right: 10rem;
}
nav > ul > li{
    margin-left: 1.75rem;
    text-align: start;
}
nav > ul > li:hover{
    transform: scale(1.2);
    color: #1ed760;
}
nav > ul > li > strong > a{
    text-decoration: none;
}
nav > ul > li:hover > strong > a{
    transform: scale(1.2);
    color: #1ed760;
}
nav > img{
    width: 13rem;
    height: 8vh;
    margin-left: 3rem;
    margin-right: 3rem;
}
table{
    font-family: 'Circular Spotify', Helvetica, sans-serif;
    display: ruby-text;
    margin-top: 1.5rem;
}
th{
    color: #1ed760;
    border-bottom: 2px solid white;
}
tbody{
    font-family: 'Circular Spotify', Helvetica, sans-serif;
    text-align: center;
}

td:hover{
    background-color: #1ed760;
    color: #101010;
    font-weight: bold;
}
form{
    font-family: 'Circular Spotify', Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 1rem 2rem 1rem;
    
}
form > label{
    padding-top: 0.4rem;
    font-family: 'Circular Spotify', Helvetica, sans-serif;
    justify-self: auto;
}
form > input{
    width: 75%;
    height: 55%;
    margin-bottom: 2rem;
    border: 1.5px solid #1ed760 ;
    justify-self: auto;
}
form > button{
    width: 25%;
    height: 80%;
    border-radius: 0.25rem;
    justify-self: auto;
    margin-top: 1rem;
    border: 2px solid #1ed760;
}
form > button:hover{
    color: #222222;
    background-color: #1ed760;
}